In [1]:
import pandas as pd
import numpy as np

In [10]:
df  = pd.read_excel('/content/jiffs_house_price_my_dataset_v1.xlsx')

In [11]:
df1 = pd.read_excel('/content/house_price_dataset_original_v2_with_categorical_features.xlsx')

In [12]:
df.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km,property_value
0,201,177.0,3,1,0.0,1,1,0,3.3,1,10,0,6.8,167611
1,196,182.0,4,3,1.0,1,0,1,1.2,1,11,0,4.1,186945
2,198,182.0,4,4,1.0,1,0,1,5.9,0,20,0,2.1,154628
3,178,166.0,2,3,0.0,1,0,0,5.9,0,5,0,0.7,133099
4,183,165.0,3,1,1.0,1,0,0,3.8,1,8,0,0.7,158481

In [13]:
df1.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket,crime_rate_index,room_size,property_value
0,201 sqm,177 sqm,3.0,1.0,No,Yes,Yes,No,3.3km,Yes,10 Years,No,6.8 km,0.90,small,165432.0
1,196 sqm,182 sqm,4.0,3.0,Yes,Yes,No,Yes,1.2km,Yes,11 Years,No,4.1 km,1.42,medium,187043.0
2,198 sqm,182 sqm,4.0,4.0,Yes,Yes,No,Yes,5.9km,No,20 Years,No,2.1 km,4.12,medium,148658.0
3,178 sqm,166 sqm,2.0,3.0,No,Yes,No,No,5.9km,No,5 Years,No,0.7 km,4.36,small,123785.0
4,183 sqm,165 sqm,3.0,1.0,Yes,Yes,No,No,3.8km,Yes,8 Years,No,0.7 km,0.42,small,156470.0

In [14]:
df.columns

Index(['land_size_sqm', 'house_size_sqm', 'no_of_rooms', 'no_of_bathrooms',
       'large_living_room', 'parking_space', 'front_garden', 'swimming_pool',
       'distance_to_school_km', 'wall_fence', 'house_age_or_renovated',
       'water_front', 'distance_to_supermarket_km', 'property_value'],
      dtype='object')

In [15]:
df1.columns

Index(['land_size_sqm', 'house_size_sqm', 'no_of_rooms', 'no_of_bathrooms',
       'large_living_room', 'parking_space', 'front_garden', 'swimming_pool',
       'distance_to_school', 'wall_fence', 'house_age', 'water_front',
       'distance_to_supermarket', 'crime_rate_index', 'room_size',
       'property_value'],
      dtype='object')

In [16]:
df.shape

(4954, 14)

In [17]:
df1.shape

(4954, 16)

In [18]:
df.size

69356

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4954 entries, 0 to 4953
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   land_size_sqm               4954 non-null   int64
 1   house_size_sqm              4953 non-null   float64
 2   no_of_rooms                 4954 non-null   int64
 3   no_of_bathrooms             4954 non-null   int64
 4   large_living_room           4952 non-null   float64
 5   parking_space               4954 non-null   int64
 6   front_garden                4954 non-null   int64
 7   swimming_pool               4954 non-null   int64
 8   distance_to_school_km       4942 non-null   float64
 9   wall_fence                  4954 non-null   int64
 10  house_age_or_renovated      4954 non-null   int64
 11  water_front                 4954 non-null   int64
 12  distance_to_supermarket_km  4916 non-null   float64
 13  property_value              4954 non-null   int64
dtypes: float64(4), int64(10)
memory usage: 542.0 KB

In [21]:
df.describe()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km,property_value
count,4954.000000,4953.000000,4954.000000,4954.000000,4952.000000,4954.000000,4954.000000,4954.000000,4942.000000,4954.000000,4954.000000,4954.000000,4916.000000,4.954000e+03
mean,250.131409,231.199273,3.788252,3.199839,0.723950,0.763827,0.627574,0.617683,3.455221,0.630400,11.444691,0.048648,3.546176,2.114163e+05
std,103.131939,94.511325,1.585371,1.602300,0.447087,0.424772,0.483500,0.486003,2.008030,0.482745,6.356991,0.215152,2.485622,9.307355e+04
min,100.000000,85.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,1.000000,0.000000,0.100000,2.988000e+03
25%,180.000000,165.000000,3.000000,2.000000,0.000000,1.000000,0.000000,0.000000,1.700000,0.000000,6.000000,0.000000,1.800000,1.482755e+05
50%,235.000000,217.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,3.400000,1.000000,11.000000,0.000000,3.500000,2.048895e+05
75%,295.000000,274.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,5.200000,1.000000,17.000000,0.000000,5.300000,2.532832e+05
max,796.000000,760.000000,8.000000,9.000000,1.000000,1.000000,1.000000,1.000000,6.900000,1.000000,22.000000,1.000000,70.000000,2.405195e+06

In [22]:
df.isnull().sum()

land_size_sqm                  0
house_size_sqm                 1
no_of_rooms                    0
no_of_bathrooms                0
large_living_room              2
parking_space                  0
front_garden                   0
swimming_pool                  0
distance_to_school_km         12
wall_fence                     0
house_age_or_renovated         0
water_front                    0
distance_to_supermarket_km    38
property_value                 0
dtype: int64

In [23]:
df['house_size_sqm']=df['house_size_sqm'].fillna(df['house_size_sqm'].mean())
df['large_living_room']=df['large_living_room'].fillna(df['large_living_room'].mean())
df['distance_to_school_km']=df['distance_to_school_km'].fillna(df['distance_to_school_km'].mean())
df['distance_to_supermarket_km']=df['distance_to_supermarket_km'].fillna(df['distance_to_supermarket_km'].mean())

In [24]:
df.isnull().sum()

land_size_sqm                 0
house_size_sqm                0
no_of_rooms                   0
no_of_bathrooms               0
large_living_room             0
parking_space                 0
front_garden                  0
swimming_pool                 0
distance_to_school_km         0
wall_fence                    0
house_age_or_renovated        0
water_front                   0
distance_to_supermarket_km    0
property_value                0
dtype: int64

In [26]:
train = df.sample(frac=0.8,random_state=123)
test = df.drop(train.index)

In [27]:
# split the data into train and test sets
X_train = train.drop(['property_value'],axis=1)
y_train = train['property_value']
X_test = test.drop(['property_value'],axis=1)
y_test = test['property_value']

In [28]:
X_train

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km
1574,306,271.0,6,5,1.0,1,1,1,6.3,1,13,0,3.2
2125,444,391.0,7,4,1.0,1,1,1,3.6,1,1,0,3.4
4298,128,127.0,1,2,0.0,0,0,0,2.3,0,3,0,5.6
853,239,218.0,4,5,1.0,1,0,1,0.1,1,15,0,0.5
31,271,266.0,5,2,1.0,1,1,1,1.3,1,1,0,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714,291,282.0,4,2,1.0,1,0,1,0.4,1,11,0,2.6
1744,144,129.0,2,2,0.0,1,0,1,3.6,0,3,0,3.3
3712,313,288.0,5,3,1.0,1,1,1,1.8,1,2,0,1.2
2949,190,190.0,3,4,1.0,0,1,0,3.7,1,3,0,5.2
1410,319,291.0,5,3,1.0,1,1,1,0.2,1,6,0,0.9

In [31]:
X_train.dtypes

land_size_sqm                   int64
house_size_sqm                float64
no_of_rooms                     int64
no_of_bathrooms                 int64
large_living_room             float64
parking_space                   int64
front_garden                    int64
swimming_pool                   int64
distance_to_school_km         float64
wall_fence                      int64
house_age_or_renovated          int64
water_front                     int64
distance_to_supermarket_km    float64
dtype: object

In [33]:
X_test

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km
2,198,182.0,4,4,1.0,1,0,1,5.9,0,20,0,2.1
3,178,166.0,2,3,0.0,1,0,0,5.9,0,5,0,0.7
14,207,187.0,3,3,1.0,1,0,0,1.6,0,11,0,6.4
16,291,283.0,4,3,1.0,1,0,1,5.9,0,8,0,3.1
17,242,211.0,5,2,1.0,1,1,1,5.3,1,14,0,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,566,548.0,7,5,1.0,1,1,1,0.2,1,15,0,3.7
4943,267,237.0,4,2,1.0,1,1,1,2.8,1,12,0,2.4
4945,233,202.0,3,2,1.0,1,0,0,0.9,0,6,0,1.6
4946,420,364.0,6,4,1.0,1,1,1,2.9,1,7,0,1.6
4951,153,147.0,3,4,1.0,1,0,0,3.3,1,7,0,4.7

In [35]:
X_test.dtypes

land_size_sqm                   int64
house_size_sqm                float64
no_of_rooms                     int64
no_of_bathrooms                 int64
large_living_room             float64
parking_space                   int64
front_garden                    int64
swimming_pool                   int64
distance_to_school_km         float64
wall_fence                      int64
house_age_or_renovated          int64
water_front                     int64
distance_to_supermarket_km    float64
dtype: object

In [36]:
import numpy as np

def calc_std_reduction(y, y_left, y_right):
    std_parent = np.std(y)
    std_left = np.std(y_left)
    std_right = np.std(y_right)
    n_total = len(y)
    n_left = len(y_left)
    n_right = len(y_right)
    std_reduction = std_parent - ((n_left/n_total)*std_left + (n_right/n_total)*std_right)
    return std_reduction

def best_split(X, y, min_samples_split):
    best_feature_idx, best_feature_val, best_std_reduction = None, None, 0
    n_features = X.shape[1]
    for feature_idx in range(n_features):
        feature_vals = np.unique(X[:, feature_idx])
        for feature_val in feature_vals:
            y_left = y[X[:, feature_idx] <= feature_val]
            y_right = y[X[:, feature_idx] > feature_val]
            if len(y_left) >= min_samples_split and len(y_right) >= min_samples_split:
                std_reduction = calc_std_reduction(y, y_left, y_right)
                if std_reduction > best_std_reduction:
                    best_feature_idx = feature_idx
                    best_feature_val = feature_val
                    best_std_reduction = std_reduction

    return best_feature_idx, best_feature_val

def build_tree(X, y, max_depth, min_samples_split, depth=0):
    n_samples, n_features = X.shape

    if depth == max_depth or n_samples < min_samples_split or len(np.unique(y)) == 1:
        leaf_value = np.mean(y)
        return leaf_value

    split_idx, split_val = best_split(X, y, min_samples_split)

    if split_idx is None:
        leaf_value = np.mean(y)
        return leaf_value

    left_idx = X[:, split_idx] <= split_val
    right_idx = X[:, split_idx] > split_val

    if sum(left_idx) == 0 or sum(right_idx) == 0:
        leaf_value = np.mean(y)
        return leaf_value

    tree = {}
    tree['split_idx'] = split_idx
    tree['split_val'] = split_val
    tree['left'] = build_tree(X[left_idx], y[left_idx], max_depth, min_samples_split, depth+1)
    tree['right'] = build_tree(X[right_idx], y[right_idx], max_depth, min_samples_split, depth+1)

    return tree

def fit(X, y, max_depth=None, min_samples_split=2):
    tree = build_tree(X, y, max_depth, min_samples_split, depth=0)
    return tree

def predict(X, tree):
    n_samples = X.shape[0]
    y_pred = np.zeros(n_samples)
    for i in range(n_samples):
        y_pred[i] = predict_tree(X[i], tree)
    return y_pred

def predict_tree(x, tree):
    if isinstance(tree, np.float64):
        return tree
    feature_val = x[tree['split_idx']]
    if feature_val <= tree['split_val']:
        return predict_tree(x, tree['left'])
    else:
        return predict_tree(x, tree['right'])

In [37]:
def grid_search(X_train, y_train, X_test, y_test, max_depth_options, min_samples_split_options):
    best_score = float('-inf')
    best_params = {}
    for max_depth in max_depth_options:
        for min_samples_split in min_samples_split_options:
            model = fit(X_train, y_train, max_depth=max_depth, min_samples_split=min_samples_split)
            y_pred = predict(X_test, model)
            score = r2_score(y_test, y_pred) # or any other evaluation metric
            if score > best_score:
                best_score = score
                best_params['max_depth'] = max_depth
                best_params['min_samples_split'] = min_samples_split
    return best_params

In [38]:
def r2_score(y_true, y_pred):
    # Calculate the total sum of squares
    ss_total = np.sum((y_true - np.mean(y_true))**2)
    
    # Calculate the residual sum of squares
    ss_res = np.sum((y_true - y_pred)**2)
    
    # Calculate the R-squared score
    r2 = 1 - (ss_res / ss_total)
    return r2

In [39]:
param_grid = {
    'max_depth': [2, 4, 6, 8, 10],
    'min_samples_split': [2, 4, 6, 8, 10]
}

In [40]:
grid_search(X_train.values, y_train.values, X_test.values, y_test.values, param_grid['max_depth'], param_grid['min_samples_split'])

{'max_depth': 10, 'min_samples_split': 10}

In [41]:
tree = build_tree(X_train.values, y_train.values, max_depth=10, min_samples_split=10, depth=0)

In [42]:
y_pred = predict(X_test.values, tree)

In [43]:
y_pred

array([153104.46153846, 130761.625     , 158671.        , 235468.92307692,
       215795.03846154, 151125.73333333, 180826.9       , 156515.11764706,
       127326.83333333,  81315.28571429, 170052.5       , 170052.5       ,
       221611.44444444, 213050.08      , 382060.25      , 213050.08      ,
       104547.4       , 250238.45      , 191899.11764706, 205444.3       ,
       233243.56976744, 249857.4       , 192239.        , 188712.75      ,
       290387.3       , 192569.        , 132003.        , 192569.        ,
       446752.07692308, 169193.16666667, 109748.70588235, 244726.        ,
       146826.1875    , 172495.08333333, 165289.66666667, 179843.6       ,
        97351.14285714, 475424.38461538, 275412.20168067, 258543.29032258,
       213220.88235294, 184874.0625    , 291425.57009346, 408209.05263158,
       145115.84615385, 180467.71428571, 151087.52941176, 240316.1       ,
        86710.1875    , 170052.5       , 185356.76923077, 170052.5       ,
       172954.15384615, 155806.69230769, 218890.        , 202074.85714286,
       265015.06818182, 164768.33333333, 244726.        ,  96311.81111111,
       213050.08      , 156260.5       , 207936.2       ,  86710.1875    ,
       265015.06818182, 146090.        , 188712.75      , 278689.6744186 ,
       180826.9       , 158671.        ,  86710.1875    , 207746.9       ,
       247155.3       , 217334.93478261, 223311.8       , 223311.8       ,
       390628.92307692, 111554.85714286,  96244.41176471, 176749.9375    ,
       275412.20168067, 175187.70588235, 235753.90909091,  86710.1875    ,
       106481.78571429, 174846.        , 258543.29032258, 164634.94444444,
       233243.56976744, 233243.56976744, 265015.06818182, 275412.20168067,
       118394.83333333, 223133.375     , 192239.        , 169705.85714286,
       226667.27272727, 245803.24390244,  86710.1875    , 306220.52631579,
       192239.        , 275412.20168067, 291455.4375    , 203289.8       ,
       240316.1       , 184874.0625    , 215795.03846154, 194093.75      ,
       232721.15384615, 104547.4       , 245803.24390244, 408209.05263158,
       366839.08333333,  91423.75      , 235468.92307692, 164768.33333333,
       138056.16666667, 132813.54545455,  91423.75      , 176269.25      ,
       245803.24390244, 236877.125     , 233243.56976744, 380554.07142857,
       257201.45      , 164844.        , 224162.16666667, 235468.92307692,
       153620.3       , 301397.27272727, 235468.92307692,  86710.1875    ,
       128967.23076923, 188712.75      , 176269.25      , 131042.13333333,
       265015.06818182, 237252.875     , 537292.81818182, 138056.16666667,
        96311.81111111, 135712.90909091, 337228.54545455, 164634.94444444,
       257480.82075472, 146410.5       , 306220.52631579, 113231.05882353,
       175187.70588235,  94650.8       , 233243.56976744, 134886.15384615,
       172954.15384615, 301397.27272727,  97351.14285714, 172954.15384615,
       217334.93478261, 227453.5       , 291425.57009346, 186509.63636364,
       127326.83333333,  94650.8       , 170052.5       , 174563.94444444,
       187986.88888889, 237252.875     , 146410.5       , 226667.27272727,
       158671.        , 116064.125     , 265015.06818182, 318954.69230769,
       185693.4       , 131042.13333333, 475424.38461538, 265015.06818182,
       257480.82075472, 120097.89473684, 245803.24390244, 177650.45454545,
       112873.33333333, 170052.5       , 278689.6744186 , 198025.41176471,
       106481.78571429, 215795.03846154, 382060.25      , 250238.45      ,
       132003.        , 106297.05555556, 219452.26315789, 244726.        ,
       241041.6       , 249857.4       , 104547.4       , 414999.16666667,
       244726.        , 258543.29032258, 181084.18181818, 163739.2       ,
       200810.90909091, 237252.875     , 257480.82075472, 236877.125     ,
       151125.73333333, 265015.06818182, 175187.70588235, 215795.03846154,
       213220.88235294, 109748.70588235, 137840.26666667, 291425.57009346,
       235468.92307692, 213425.92307692, 291425.57009346, 222884.16666667,
       200810.90909091, 104547.4       , 213050.08      , 244726.        ,
        81315.28571429, 301397.27272727, 344375.3       , 408209.05263158,
       237302.        , 301397.27272727, 181084.18181818, 222884.16666667,
       255234.18181818, 113231.05882353, 337228.54545455, 380554.07142857,
       226455.5       , 208879.        , 109989.5       , 245803.24390244,
       301397.27272727, 123374.05882353, 208879.        , 151424.        ,
       275412.20168067, 151087.52941176, 174563.94444444, 134486.90909091,
       125510.21428571, 275412.20168067, 213425.92307692, 158162.72727273,
       203289.8       , 201096.86666667, 240316.1       , 474908.6       ,
       151125.73333333, 236877.125     , 130761.625     , 244726.        ,
       265015.06818182, 109748.70588235, 198270.23076923, 306220.52631579,
       125510.21428571, 342484.07142857, 275412.20168067, 177653.36363636,
       106297.05555556, 132813.54545455, 290387.3       , 278689.6744186 ,
        82821.64285714, 233243.56976744, 113231.05882353, 199832.47368421,
       291425.57009346, 165289.66666667, 183436.13333333, 233243.56976744,
       166240.5       ,  86710.1875    , 156260.5       , 233243.56976744,
       233243.56976744, 159970.2       , 257480.82075472, 245803.24390244,
       146090.        , 278689.6744186 , 106297.05555556, 257480.82075472,
       153104.46153846, 236877.125     , 306220.52631579, 104547.4       ,
       275412.20168067, 172495.08333333, 235186.17647059, 257480.82075472,
       291425.57009346, 130685.6875    , 184874.0625    , 493804.25      ,
       202074.85714286, 135712.90909091, 291425.57009346, 265015.06818182,
       170052.5       , 206952.16666667, 215795.03846154, 382060.25      ,
       169705.85714286, 151087.52941176, 258543.29032258, 233243.56976744,
       217334.93478261,  96311.81111111, 278689.6744186 , 244726.        ,
       237252.875     , 215089.15384615, 206952.16666667, 213220.88235294,
       233243.56976744, 176269.25      , 382241.        , 226667.27272727,
       430549.6       , 291455.4375    , 258543.29032258, 408209.05263158,
       191899.11764706, 112873.33333333, 126406.58333333, 233243.56976744,
       215795.03846154, 258543.29032258, 265015.06818182, 233243.56976744,
       169193.16666667, 213050.08      , 220589.90909091,  96311.81111111,
       138056.16666667, 278689.6744186 , 318954.69230769, 202074.85714286,
       118394.83333333, 202074.85714286, 255181.11111111, 291455.4375    ,
       474908.6       , 147718.08      , 244726.        , 180467.71428571,
       258543.29032258, 240316.1       ,  94650.8       , 244726.        ,
       106481.78571429, 244726.        , 188277.        , 152654.47058824,
       244726.        , 620579.91666667, 138477.7       , 135712.90909091,
       390628.92307692, 265015.06818182, 127326.83333333, 291425.57009346,
       201096.86666667,  86710.1875    , 222884.16666667, 213050.08      ,
       219452.26315789, 241041.6       , 265015.06818182, 301397.27272727,
       192239.        , 194093.75      , 180467.71428571, 183436.13333333,
        77244.6       , 275412.20168067, 278689.6744186 , 390628.92307692,
       186685.09090909, 207936.2       , 226455.5       , 244726.        ,
       233243.56976744, 258543.29032258, 102501.72727273, 318954.69230769,
       218890.        , 120097.89473684, 217334.93478261, 221611.44444444,
       124182.11764706, 233243.56976744, 563236.3       , 156260.5       ,
       207936.2       , 163395.3       , 163701.22222222, 188229.69230769,
       237302.        , 382060.25      ,  96311.81111111, 255234.18181818,
       563236.3       , 109748.70588235, 141377.        , 152654.47058824,
       290387.3       , 222884.16666667, 265015.06818182, 198270.23076923,
       244726.        , 104547.4       ,  96244.41176471, 177565.54545455,
       161715.        , 215795.03846154,  96311.81111111, 232127.        ,
       170052.5       , 146090.        ,  91423.75      , 198025.41176471,
       291425.57009346, 152654.47058824, 232721.15384615, 446752.07692308,
       201096.86666667, 201096.86666667, 233243.56976744, 104547.4       ,
       278689.6744186 , 191899.11764706, 135712.90909091, 232697.9       ,
       278689.6744186 , 106297.05555556, 291425.57009346, 135712.90909091,
       219452.26315789, 291425.57009346, 301397.27272727, 109748.70588235,
       563236.3       ,  94650.8       ,  82821.64285714,  86735.1       ,
       120097.89473684, 137840.26666667, 107155.4375    , 290387.3       ,
       219452.26315789, 177653.36363636, 125510.21428571, 265015.06818182,
       158671.        , 146826.1875    , 275412.20168067, 213050.08      ,
       382060.25      , 216001.8       , 232721.15384615, 390628.92307692,
       345229.8       , 271729.90909091, 158671.        , 118394.83333333,
       258543.29032258, 216001.8       , 219452.26315789, 310721.4       ,
       219452.26315789, 164768.33333333, 213492.23529412, 158162.72727273,
       163739.2       , 291425.57009346, 258543.29032258, 199832.47368421,
       373134.4       , 130761.625     , 275412.20168067, 123374.05882353,
        86710.1875    , 155806.69230769, 215795.03846154, 186685.09090909,
       245803.24390244,  96244.41176471, 146410.5       , 165289.66666667,
       290387.3       , 146422.7       , 219452.26315789, 257201.45      ,
       366839.08333333, 235186.17647059, 223133.375     , 404813.        ,
       275412.20168067, 188712.75      , 217334.93478261, 206952.16666667,
       265015.06818182, 290387.3       , 195301.        ,  86710.1875    ,
        81315.28571429, 177650.45454545, 257480.82075472, 153620.3       ,
       342484.07142857, 142516.83333333, 475424.38461538, 217334.93478261,
       213492.23529412, 112873.33333333,  96311.81111111, 233243.56976744,
       104547.4       ,  77244.6       , 175187.70588235, 185356.76923077,
       233243.56976744, 130685.6875    , 347947.63636364, 291455.4375    ,
       138056.16666667, 275412.20168067, 174846.        , 215795.03846154,
       203693.1       , 244726.        , 257201.45      , 175187.70588235,
       125510.21428571, 166240.5       , 123374.05882353, 165289.66666667,
       475424.38461538, 202074.85714286, 257480.82075472, 118394.83333333,
       275412.20168067,  81315.28571429, 147718.08      , 109989.5       ,
       112873.33333333, 317628.81818182, 255181.11111111, 120921.38461538,
       226455.5       , 306220.52631579, 152654.47058824, 219452.26315789,
       221466.08333333, 185356.76923077, 337228.54545455, 158162.72727273,
       163739.2       , 151087.52941176, 235753.90909091, 290387.3       ,
       255234.18181818, 204404.61538462, 176269.25      , 342484.07142857,
       120097.89473684, 130761.625     , 318954.69230769, 233243.56976744,
       145662.21052632, 310721.4       , 180467.71428571, 240470.75      ,
       208879.        , 275412.20168067, 233243.56976744, 221466.08333333,
       291425.57009346, 244726.        , 244726.        , 159970.2       ,
       174846.        , 223311.8       , 151424.        , 257201.45      ,
       184874.0625    , 147718.08      , 217334.93478261, 222884.16666667,
        91498.44444444, 137840.26666667, 344375.3       , 138056.16666667,
       146090.        , 215795.03846154, 164768.33333333, 198270.23076923,
       244726.        , 221611.44444444, 215089.15384615,  94650.8       ,
       132003.        ,  92176.        , 146826.1875    , 215795.03846154,
       244726.        , 245803.24390244, 112873.33333333, 233243.56976744,
       404813.        , 257480.82075472, 192569.        , 188712.75      ,
       155806.69230769, 163701.22222222,  91423.75      ,  97351.14285714,
       200810.90909091, 220410.2       , 186509.63636364, 206952.16666667,
       257480.82075472, 177650.45454545, 130761.625     , 180467.71428571,
       258543.29032258, 271729.90909091, 257201.45      , 265015.06818182,
       342484.07142857, 275412.20168067, 258543.29032258, 213220.88235294,
       208879.        , 151424.        , 248019.        , 380554.07142857,
       201096.86666667, 382241.        , 130761.625     , 258543.29032258,
       174563.94444444, 187986.88888889,  91498.44444444, 126406.58333333,
       206952.16666667, 176269.25      , 345229.8       , 132813.54545455,
       164768.33333333, 265015.06818182, 414999.16666667, 155806.69230769,
       291425.57009346, 132003.        , 290387.3       , 151424.        ,
       408209.05263158, 123374.05882353, 563236.3       , 188277.        ,
       220589.90909091, 233243.56976744, 215795.03846154, 380554.07142857,
       265015.06818182, 237252.875     , 181084.18181818, 163701.22222222,
       164768.33333333, 188277.        , 306220.52631579, 156515.11764706,
       104547.4       , 291425.57009346, 220410.2       , 228093.64705882,
       164844.        , 233243.56976744, 156260.5       , 172495.08333333,
       221611.44444444, 145662.21052632, 130685.6875    , 257480.82075472,
       236877.125     , 537292.81818182, 116064.125     , 216980.36363636,
       342484.07142857, 235753.90909091, 257201.45      , 142516.83333333,
       184874.0625    , 278689.6744186 , 380554.07142857, 146826.1875    ,
       233243.56976744, 177565.54545455, 138477.7       , 185693.4       ,
       295243.9       , 301397.27272727, 265015.06818182, 121156.        ,
       278689.6744186 , 347947.63636364, 233243.56976744, 151087.52941176,
       202074.85714286, 194365.16666667, 135712.90909091, 124182.11764706,
       291425.57009346, 132813.54545455, 204404.61538462, 104547.4       ,
       275412.20168067,  97351.14285714, 188712.75      , 106297.05555556,
       316320.23076923, 116064.125     , 228126.9       ,  91498.44444444,
       185356.76923077, 223311.8       , 290387.3       , 132003.        ,
       240316.1       , 237252.875     , 118394.83333333, 132813.54545455,
       291455.4375    , 250238.45      , 153620.3       , 191899.11764706,
       138056.16666667, 177653.36363636, 177565.54545455, 200810.90909091,
        86710.1875    , 240316.1       , 306220.52631579, 275412.20168067,
        96311.81111111, 237717.4375    , 257201.45      , 147718.08      ,
       345229.8       , 177650.45454545, 220589.90909091, 177650.45454545,
       191481.21052632, 408209.05263158, 200810.90909091, 301397.27272727,
       180826.9       , 215795.03846154, 257480.82075472, 240470.75      ,
       493804.25      , 224162.16666667, 164844.        , 265015.06818182,
       247155.3       ,  91423.75      , 240316.1       ,  96311.81111111,
       184874.0625    , 493804.25      , 145115.84615385, 183436.13333333,
       194093.75      , 152654.47058824, 224162.16666667, 221201.4       ,
       278689.6744186 , 301397.27272727,  96311.81111111, 192239.        ,
        91423.75      , 458525.6       ,  86710.1875    , 222884.16666667,
       233243.56976744, 216980.36363636, 257480.82075472, 474908.6       ,
       104547.4       , 221466.08333333, 257480.82075472, 255181.11111111,
       180467.71428571, 217334.93478261, 247155.3       , 223311.8       ,
       203289.8       , 120921.38461538, 137840.26666667, 160867.71428571,
       176269.25      , 145662.21052632, 219452.26315789, 137840.26666667,
       183436.13333333, 112873.33333333, 318954.69230769, 265015.06818182,
        86710.1875    , 248019.        , 245803.24390244, 172954.15384615,
       215089.15384615, 301397.27272727, 169193.16666667, 184874.0625    ,
       213220.88235294, 245803.24390244, 475424.38461538, 161715.        ,
       151424.        , 146090.        , 236877.125     , 130476.36363636,
        96311.81111111, 291425.57009346, 151087.52941176, 233243.56976744,
       213220.88235294, 145115.84615385, 291425.57009346, 203289.8       ,
       194365.16666667, 367095.35714286, 188712.75      , 291425.57009346,
       446752.07692308, 165289.66666667, 237252.875     , 414999.16666667,
        81315.28571429,  96311.81111111, 257201.45      , 236877.125     ,
       342484.07142857, 169705.85714286, 244726.        , 191899.11764706,
       186509.63636364, 116064.125     , 450944.4       , 248019.        ,
       141377.        , 177653.36363636, 163739.2       , 151424.        ,
       257480.82075472, 310721.4       , 130761.625     , 228093.64705882,
       235753.90909091, 258543.29032258, 191481.21052632, 202074.85714286,
       118394.83333333, 200810.90909091, 221201.4       , 215089.15384615,
       235753.90909091, 126406.58333333,  75867.        , 156260.5       ,
       318954.69230769,  86735.1       , 342484.07142857, 146410.5       ,
       345229.8       , 135712.90909091, 240316.1       , 134886.15384615,
       102501.72727273, 160867.71428571, 155806.69230769, 233243.56976744,
       275412.20168067, 235753.90909091, 301397.27272727,  94650.8       ,
       174846.        , 258543.29032258, 220410.2       , 257480.82075472,
        81315.28571429, 265015.06818182,  96311.81111111, 192239.        ,
       164768.33333333, 164768.33333333, 232697.9       , 104547.4       ,
       233243.56976744, 180467.71428571, 275412.20168067, 345229.8       ,
       233243.56976744, 390628.92307692, 138477.7       , 265015.06818182,
       183436.13333333, 295243.9       , 166240.5       , 200810.90909091,
       227453.5       , 104547.4       , 164768.33333333, 414999.16666667,
       146826.1875    , 104547.4       , 176192.4       , 390628.92307692,
       291455.4375    ,  91498.44444444, 223133.375     , 237252.875     ,
       135712.90909091, 249857.4       , 130761.625     , 106297.05555556,
       187986.88888889, 123374.05882353, 192569.        , 278689.6744186 ,
       187986.88888889, 118394.83333333, 235753.90909091, 384552.54545455,
       215089.15384615, 151125.73333333, 212899.4       , 241041.6       ,
       160867.71428571,  92176.        , 152654.47058824, 248019.        ,
        86710.1875    , 257480.82075472, 248019.        , 235753.90909091,
       125510.21428571, 194365.16666667, 146410.5       , 153104.46153846,
       191899.11764706,  96311.81111111, 155806.69230769, 174846.        ,
       123374.05882353, 213050.08      , 160867.71428571, 138477.7       ,
       306220.52631579, 142516.83333333, 219452.26315789, 244726.        ,
       169705.85714286, 154518.53333333,  94650.8       , 147718.08      ,
       237302.        , 222884.16666667, 235753.90909091, 258543.29032258,
       250238.45      , 223133.375     , 206952.16666667, 131042.13333333,
       151087.52941176, 233243.56976744, 458525.6       , 233243.56976744,
       170052.5       , 366839.08333333, 124182.11764706])

In [44]:
r2_score(y_test, y_pred)

0.9710375979714492